%p{ style: "color: green" }= notice

= render @resource

%div
  = link_to "Edit this phone", edit_phone_path(@resource)
  |
  = link_to "Back to phones", phones_path
  = button_to "Destroy this phone", @resource, method: :delete