%div{ id: dom_id(address) }
  %p
    %strong Street1:
    = address.street1

  %p
    %strong Street2:
    = address.street2

  %p
    %strong City:
    = address.city

  %p
    %strong State:
    = address.state

  %p
    %strong Country:
    = address.country

  %p
    %strong Zipcode:
    = address.zipcode
